
body{
    background: url('../IMAGE/m4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
 
 }
 
 .home-content{
     max-width: 380px;
     margin: auto;
     margin-top: 70px;
     background-color: rgba(0, 0, 0,0.8);
     text-align: center;
     border-radius: 20px;
     padding: 40px;
     color: #fff;
     box-sizing: border-box;
     box-shadow: black 10px 10px 10px ;
 
 }
 
 .h2{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
 }
 
 input{
     width: 100%;
     margin: 10px 0;
     outline: none;
     background-color: transparent;
     color: #fff;
     font-size: 19px;
     font-weight: bold;
     box-sizing: border-box;
     border: none;
     border-bottom: 1px #fff solid;
     
  }
 
  button{
     width: 50%;
     height: 10%;
     border-radius: 20px;
     padding: 10px;
     background-color: rgb(90, 120, 190);
     color: #fff;
     text-transform: uppercase;
     font-size: 20px;
     font-weight: bold;
     outline: none;
     cursor: pointer;
     margin: 30px 10px 0px 10px;
 
 
 
  }
 
  #tb{
    background-color: #fa87bb;
  }